<h3>Get in Touch</h3>
<form class="rd-mailform form-modern" name="contactForm" id="contactForm" autocomplete="on" novalidate>
    <div class="range">
        <div class="cell-xs-12">
            <div class="form-group">
                Fullname
                <input ng-model="$ctrl.form.name" type="text" placeholder="Fullname" class="form-control" ng-required="true">
            </div>
        </div>
        <div class="cell-xs-6">
            <div class="form-group">
                Email
                <input ng-model="$ctrl.form.email" type="email" placeholder="Email" class="form-control" ng-required="!$ctrl.form.number">
            </div>
        </div>
        <div class="cell-xs-6">
            <div class="form-group">
                Number
                <input ng-model="$ctrl.form.number" type="text" placeholder="Contact Number" class="form-control" ng-required="!$ctrl.form.email">
            </div>
        </div>
        <div class="cell-xs-12">
            <div class="form-group">
                Enquiry
                <textarea ng-model="$ctrl.form.description" rows="3" placeholder="Your Enquiry" class="form-control" ng-required="true"></textarea>
            </div>
        </div>
        <div class="cell-xs-12 offset-top-22">
            <button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.save();">Send</button>
        </div>
    </div>
</form>
