<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$mctrl.closeModal()"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title">{{$mctrl.coffee.name}}</h5>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="radio">
              <label>
                  <input type="radio" name="optradio" ng-model="$mctrl.shoppingCart.requesttypekey" value="1">
                  Sample <span ng-if="$mctrl.coffee.maxfreesamplequantity > 0">(free up to {{$mctrl.coffee.maxfreesamplequantity}} {{$mctrl.coffee.pricebaseunit}})</span>
              </label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" ng-model="$mctrl.shoppingCart.requesttypekey" value="2">Make a Purchase</label>
            </div>
        </div>
        <div class="col-md-6" style="margin: 12px 0;">
            <div class="input-group">
                <input type="number" min="1" step="1" class="form-control" 
                       ng-model="$mctrl.shoppingCart.quantity"
                       aria-describedby="basic-addon2">
                <strong class="input-group-addon" id="basic-addon2" 
                        ng-if="$mctrl.shoppingCart.requesttypekey === '1'"
                        style='border-radius:0 5px 5px 0;min-width:137px' >{{$mctrl.coffee.pricebaseunit}}</strong>
                <strong class="input-group-addon" id="basic-addon2" 
                        ng-if="$mctrl.shoppingCart.requesttypekey === '2'"
                        style='border-radius:0 5px 5px 0;min-width:137px;' >x {{$mctrl.coffee.packagingunit}}</strong>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="group-xl-responsive">
        <button type="button" class="btn btn-xs btn-default" ng-click="$mctrl.closeModal()">Cancel</button>
        <button type="button" class="btn btn-xs btn-primary" ng-click="$mctrl.addToCart()">Order</button>
    </div>
</div>
