<div class="shell">
    <div class="range">
        <div class="cell-xs-12">

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-2">Order</th>
                        <th class="col-md-4">Delivery Address</th>
                        <th class="col-md-1">Total</th>
                        <th class="col-md-2">Date</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="orderHeader in $ctrl.orderHeaders">
                        <td>
                            <div><strong>{{orderHeader.groupkey}}</strong></div>
                            <div>
                                <strong>Status:</strong>
                                <span ng-if="orderHeader.allcreating">Creating</span>
                                <span ng-if="orderHeader.allreceived">Received</span>
                                <span ng-if="orderHeader.alldispatched">Dispatched</span>
                                <span ng-if="orderHeader.allcancelled">Cancelled</span>
                                <span ng-if="orderHeader.allsentforrefund">Sent For Refund</span>
                                <span ng-if="orderHeader.allrefunded">Refunded</span>
                                <span ng-if="orderHeader.allmixed">Mixed</span>
                            </div>
                        </td>
                        <td>
                            {{orderHeader.deliveryfirstname}} {{orderHeader.deliverylastname}}<br/>
                            {{orderHeader.deliveryaddress1}} {{orderHeader.deliveryaddress2}}<br/>
                            {{orderHeader.deliverycity}} {{orderHeader.deliverystate}}<br/>
                            {{orderHeader.deliverypostcode}}<br/>
                            {{orderHeader.deliverycountry}}
                        </td>
                        <td>&pound;{{orderHeader.totalprice}}</td>
                        <td>{{orderHeader.createddate | amDateFormat: 'DD/MMM/YYYY'}}</td>
                        <td class="cart-actions">
                            <span ng-hide="orderHeader.refunding" class="glyphicon glyphicon-repeat text-info" title="Refund Order" ng-click="$ctrl.refundOrder(orderHeader)"></span>
                            <span ng-show="orderHeader.refunding" class="fa fa-spin fa-spinner"></span>
                            
                            <span ng-hide="orderHeader.cancelling" class="glyphicon glyphicon-ban-circle text-danger" title="Cancel Order" ng-click="$ctrl.cancelOrder(orderHeader)"></span>
                            <span ng-show="orderHeader.cancelling" class="fa fa-spin fa-spinner"></span>
                            
                            <span class="glyphicon glyphicon-pencil" title="Edit Order" 
                                  ng-click="$ctrl.addOrEditOrder(orderHeader.groupkey)">
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="cell-xs-12">
            <div class="text-right section-top-15">
                <button type="button" class="btn btn-xs btn-primary" ng-click="$ctrl.addOrEditCoffee(null)">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </div>
        </div>
    </div>
</div>
