<div class="shell">
    <div class="range">
        
        <div class="cell-xs-12">
            <form class="rd-mailform form-modern">
                <div class="range">
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Search Text
                            <input type="text" class="form-control" placeholder="Order No, Name, Address, or Postcode Search"
                                   ng-model-options="{ debounce: 500 }"
                                   ng-model="$ctrl.searchParams.criteria[0].searchtext">
                        </div>
                    </div>
                    <div class="cell-xs-2">
                        <div class="form-group">
                            Status
                            <div class="bm-select">
                                <select ng-model="$ctrl.searchParams.criteria[1].statuses" class="form-control" multiple="multiple" id="statuses">
                                    <option value="1">Creating</option>
                                    <option value="2">Received</option>
                                    <option value="3">Dispatched</option>
                                    <option value="4">Cancelled</option>
                                    <option value="5">Sent For Refund</option>
                                    <option value="6">Refunded</option>
                                    <option value="7">Returned</option>
                                </select>                            
                            </div>
                        </div>
                    </div>
                    <div class="cell-xs-4">
                        <div class="form-group">
                            &nbsp;
                            <div class="form-control text-right" style="padding: 0px; border: none;">
                                <button type="button" class="btn btn-xs btn-primary" ng-click="$ctrl.filter()">
                                    <span class="glyphicon glyphicon-search"></span> Filter
                                </button>
                                &nbsp;
                                <button type="button" class="btn btn-xs btn-primary" ng-click="$ctrl.addOrEditCoffee(null)">
                                    <span class="glyphicon glyphicon-plus"></span> Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="cell-xs-12">

            <table class="table table-condensed my-overline">
                <thead>
                    <tr>
                        <th class="col-md-2">Order</th>
                        <th class="col-md-4">Delivery Address</th>
                        <th class="col-md-1">Total</th>
                        <th class="col-md-2">Date</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="orderHeader in $ctrl.orderHeaders">
                        <td>
                            <div><strong>{{orderHeader.groupkey}}</strong></div>
                            <div>
                                <strong>Status:</strong>
                                <span ng-if="orderHeader.allcreating">Creating</span>
                                <span ng-if="orderHeader.allreceived">Received</span>
                                <span ng-if="orderHeader.alldispatched">Dispatched</span>
                                <span ng-if="orderHeader.allcancelled">Cancelled</span>
                                <span ng-if="orderHeader.allsentforrefund">Sent For Refund</span>
                                <span ng-if="orderHeader.allrefunded">Refunded</span>
                                <span ng-if="orderHeader.allmixed">Mixed</span>
                            </div>
                        </td>
                        <td>
                            {{orderHeader.deliveryfirstname}} {{orderHeader.deliverylastname}}<br/>
                            {{orderHeader.deliveryaddress1}} {{orderHeader.deliveryaddress2}}<br/>
                            {{orderHeader.deliverycity}} {{orderHeader.deliverystate}}<br/>
                            {{orderHeader.deliverypostcode}}<br/>
                            {{orderHeader.deliverycountry}}
                        </td>
                        <td>&pound;{{orderHeader.totalprice}}</td>
                        <td>{{orderHeader.createddate | amDateFormat: 'DD/MMM/YYYY'}}</td>
                        <td class="cart-actions">
                            
                            <span ng-hide="!orderHeader.alldispatched">
                                <span ng-hide="orderHeader.returning" class="glyphicon-repeat text-info" title="Return Order" ng-click="$ctrl.returnOrder(orderHeader)"></span>
                                <span ng-show="orderHeader.returning" class="fa fa-spin fa-spinner"></span>
                            </span>
                            
                            <span ng-hide="!orderHeader.allreceived">
                                <span ng-hide="orderHeader.dispatching" class="fa fa-truck" title="Dispatch Order" ng-click="$ctrl.dispatchOrder(orderHeader)"></span>
                                <span ng-show="orderHeader.dispatching" class="fa fa-spin fa-spinner"></span>

                                <span ng-hide="orderHeader.cancelling" class="glyphicon glyphicon-ban-circle text-danger" title="Cancel Order" ng-click="$ctrl.cancelOrder(orderHeader)"></span>
                                <span ng-show="orderHeader.cancelling" class="fa fa-spin fa-spinner"></span>

                                <span class="glyphicon glyphicon-pencil" title="Edit Order" ng-click="$ctrl.addOrEditOrder(orderHeader)"></span>
                            </span>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div ng-show="$ctrl.loading">
                <div class="col12 text-center">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
            </div>

            <div ng-show="!$ctrl.loading && $ctrl.hasMoreRecords" class="text-center">
                <i class="fa fa-arrow-circle-o-down fa-2x top10" ng-click="$ctrl.appendNextPage()"></i>
            </div>

        </div>
        
        <div class="cell-xs-12">
            <div class="text-right section-top-15">
                <button type="button" class="btn btn-xs btn-primary" ng-click="$ctrl.addOrEditCoffee(null)">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </div>
        </div>
    </div>
</div>
