<section style="background-image: url(/images/bg-image-coffee-in-hands.jpg);" class="section-30 section-sm-40 section-md-66 section-lg-bottom-90 bg-gray-dark page-title-wrap">
  <div class="shell">
    <div class="page-title">
      <h2>Buy or Sample</h2>
    </div>
  </div>
</section>

<section>
    <div class="section-50 section-sm-bottom-75 section-lg-bottom-100 bg-whisper text-secondary">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12">
                    
                    <div class="product product-item-fullwidth" ng-repeat="coffee in $ctrl.coffees">
                        <div class="product-main">
                            <div class="product-main-inner">
                                <div class="product-body">
                                    <p class="product-brand">{{coffee.region}}{{(coffee.region == null ? '' : ',')}} {{coffee.country}}</p>
                                    <h5 class="product-header"><a ng-href="{{coffee.url}}">{{coffee.name}}</a></h5>
                                    <div class="product-rating">
                                        <ul class="list-rating">
                                            
                                            <li ng-repeat="n in $ctrl.fullStars(coffee)">
                                                <span class="icon icon-xxs material-icons-star"></span>
                                            </li>
                                            <li ng-if="$ctrl.halfStar(coffee)">
                                                <span class="icon icon-xxs material-icons-star_half"></span>
                                            </li>
                                            <li ng-repeat="n in $ctrl.borderStars(coffee)">
                                                <span class="icon icon-xxs material-icons-star_border"></span>
                                            </li>
                                        </ul><span class="text-light">{{coffee.cuppingscore}} Cupping Score</span>
                                    </div>
                                    <div class="product-description">
                                        <h6>{{coffee.producer}}</h6>
                                        <p>{{coffee.producerstory}}</p>
                                    </div><a ng-click="$ctrl.addToCart(coffee)" class="btn btn-silver-outline product-details">Buy or Sample</a>
                                </div>
                                <div class="product-aside">
                                    <div class="product-aside-top">
                                        <p class="pricing-object pricing-object-xl price-current">
                                            <span class="small small-middle">{{coffee.currency}}</span><span class="price">{{coffee.price.substring(0, coffee.price.indexOf('.'))}}</span><span class="small small-bottom">{{coffee.price.substring(coffee.price.indexOf('.'))}}/{{coffee.pricebaseunit}}</span>
                                        </p>
                                    </div>
                                    <div class="product-aside-bottom">
                                        <div class="stepper-wrap">
                                            <p>Qty Available</p>
                                            {{coffee.availableamount}}
                                        </div>
                                        <a ng-click="$ctrl.addToCart(coffee)" class="btn btn-icon btn-icon-left btn-primary product-control">
                                            <span>Buy or Sample</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>

</section>

