<div ng-show="$ctrl.loading" class="shell">
    <div class="range">
        <div class="cell-xs-12 text-center">
            <h4><span class='fa fa-spinner fa-spin'></span>  Loading coffees ...</h4>
        </div>
    </div>
</div>

<div class="shell">
    <div class="range">
        <div class="cell-xs-12 offset-top-0">
            <h4>Our Green Coffees</h4>
            <div ng-hide="$ctrl.loading" class="product product-item-fullwidth" ng-repeat="coffee in $ctrl.coffees">
                <div class="product-main">
                    <div class="product-main-inner">
                        <div class="product-body">
                            <p class="product-brand">{{coffee.region}}{{(coffee.region == null ? '' : ',')}} {{coffee.country}}</p>
                            <h5 class="product-header">{{coffee.name}}</h5>
                            <div class="product-rating">
                                <ul class="list-rating">

                                    <li ng-repeat="n in coffee.fullStars()">
                                        <span class="icon icon-xxs material-icons-star"></span>
                                    </li>
                                    <li ng-if="coffee.halfStar()">
                                        <span class="icon icon-xxs material-icons-star_half"></span>
                                    </li>
                                    <li ng-repeat="n in coffee.borderStars()">
                                        <span class="icon icon-xxs material-icons-star_border"></span>
                                    </li>
                                </ul><span class="text-light">{{coffee.cuppingscore}} Cupping Score</span>
                            </div>
                            <p>
                                <strong>Lot:</strong> {{coffee.coffeecode}} <br/>
                                <strong>Sensorial:</strong> {{coffee.sensorialdescriptors}} <br/>
                                <strong>Varieties: </strong> {{coffee.cultivars}}<br/>
                                <strong>Processing: </strong> {{coffee.processingmethod}}
                            </p>
                            <div class="product-description">
                                <p>{{coffee.producerstory}}</p>
                            </div>
                            <a ng-click="$ctrl.makeEnquiry(coffee)" class="btn btn-silver-outline product-details">Make Enquiry</a>
                        </div>
                        <div class="product-aside">
                            <div class="product-aside-top">
                                <p class="pricing-object pricing-object-xl price-current">
                                    <span class="small small-middle">{{coffee.currency}}</span><span class="price">{{coffee.price.substring(0, coffee.price.indexOf('.'))}}</span><span class="small small-bottom">{{coffee.price.substring(coffee.price.indexOf('.'))}}/{{coffee.pricebaseunit}}</span>
                                </p>
                            </div>
                            <div class="product-aside-bottom">
                                <div class="stepper-wrap">
                                    <p>Qty Available</p>
                                    {{coffee.remainingamount}} x {{coffee.packagingunit}}
                                </div>
                                <a ng-click="$ctrl.addToCart(coffee)" class="btn btn-icon btn-icon-left btn-primary product-control">
                                    <span>Buy or Sample</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-xs-12 cell-lg-12 offset-top-22 text-center">
            <img src="/images/powered-by-worldpay.png" alt="Powered by Worldpay"/>
        </div>
    </div>
</div>
