<section style="background-image: url(/images/bg-image-coffee-in-hands.jpg);" class="section-30 section-sm-40 section-md-66 section-lg-bottom-90 bg-gray-dark page-title-wrap">
  <div class="shell">
    <div class="page-title">
      <h2>Buy or Sample</h2>
    </div>
  </div>
</section>

<section>
    <div class="section-50 section-sm-bottom-75 section-lg-bottom-100 bg-whisper text-secondary">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12">
                    
                    <div class="product product-item-fullwidth" ng-repeat="coffee in $ctrl.coffees">
                        <div class="product-main">
                            <div class="product-main-inner">
                                <div class="product-body">
                                    <p class="product-brand">{{coffee.region}}{{(coffee.region == null ? '' : ',')}} {{coffee.country}}</p>
                                    <h5 class="product-header"><a ng-href="{{coffee.url}}">{{coffee.name}}</a></h5>
                                    <div class="product-rating">
                                        <ul class="list-rating">
                                            
                                            <li ng-repeat="n in $ctrl.fullStars(coffee)">
                                                <span class="icon icon-xxs material-icons-star"></span>
                                            </li>
                                            <li ng-if="$ctrl.halfStar(coffee)">
                                                <span class="icon icon-xxs material-icons-star_half"></span>
                                            </li>
                                            <li ng-repeat="n in $ctrl.borderStars(coffee)">
                                                <span class="icon icon-xxs material-icons-star_border"></span>
                                            </li>
                                        </ul><span class="text-light">{{coffee.cuppingScore}} Cupping Score</span>
                                    </div>
                                    <div class="product-description">
                                        <p>
                                            <strong>Producer:</strong> {{coffee.producer}}<br/>
                                            <strong>Crop Year:</strong> {{coffee.cropYear}}<br/>
                                            <strong>Processing:</strong> {{coffee.processingMethod}}<br/>
                                            <!--strong>Availability:</strong> {{coffee.availability}}<br/-->
                                            <strong>Packaging: </strong> {{coffee.packaging}}<br/>
                                            <strong>Varieties:</strong> {{$ctrl.join(coffee.varieties, ', ')}}<br/>
                                            <strong>Sensorial Descriptions:</strong> {{$ctrl.join(coffee.sensorialDescriptors, ', ')}}
                                        </p>
                                    </div><a ng-href="{{coffee.url}}" class="btn btn-silver-outline product-details">Buy or Sample</a>
                                </div>
                                <div class="product-aside">
                                    <div class="product-aside-top">
                                        <p class="pricing-object pricing-object-xl price-current">
                                            <span class="small small-middle">{{$ctrl.currencyPart(coffee.price)}}</span><span class="price">{{$ctrl.integerPart(coffee.price)}}</span><span class="small small-bottom">.{{$ctrl.fractionalPart(coffee.price)}}/{{coffee.priceBaseUnit}}</span>
                                        </p>
                                    </div>
                                    <div class="product-aside-bottom">
                                        <div class="stepper-wrap">
                                            <p>Qty Available</p>
                                            {{coffee.availableAmount}}
                                        </div>
                                        <a ng-href="{{coffee.url}}" class="btn btn-icon btn-icon-left btn-primary product-control">
                                            <span>Buy or Sample</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>

</section>

