<form class="rd-mailform form-modern">
    <div class="range">
        <div class="cell-xs-4">
            <div class="form-group">
                Code
                <input id="name" type="text" class="form-control" placeholder="Client Name" ng-model="$ctrl.client.clientcode">
                Name
                <input id="name" type="text" class="form-control" placeholder="Client Name" ng-model="$ctrl.client.name">
                
                <label><input type="checkbox" data-bind="checked: approvedforbusiness"> Approved for business</label>
            </div>
        </div>
        <div class="cell-xs-4">
            <div class="form-group">
                Number
                <input id="number" type="text" class="form-control" placeholder="Telephone" ng-model="$ctrl.client.number">
                Website
                <input id="website" type="text" class="form-control" placeholder="Website" ng-model="$ctrl.client.website">
            </div>
        </div>
        <div class="cell-xs-4">
            <div class="form-group">
                Address
                <textarea id="address" class="form-control" placeholder="Address" ng-model="$ctrl.client.address" rows="7"></textarea>
            </div>
        </div>
        <div class="cell-xs-4">
            <div class="form-group">
                Twitter
                <input id="twitter" type="text" class="form-control" placeholder="Twitter" ng-model="$ctrl.client.twitter">
            </div>
        </div>
        <div class="cell-xs-4">
            <div class="form-group">
                Facebook
                <input id="facebook" type="text" class="form-control" placeholder="Facebook" ng-model="$ctrl.client.facebook">
            </div>
        </div>
        <div class="cell-xs-4">
            <div class="form-group">
                Post Code
                <input for="postcode" type="text" class="form-control" placeholder="Post Code" ng-model="$ctrl.client.postcode">
            </div>
        </div>
        <div class="cell-xs-4">
            <div class="form-group">
                Incorporation Date
                <input id="incorporationdate" type='text' class="form-control" ng-model="$ctrl.client.incorporationdate" placeholder="YYYY-MM-DD" />
            </div>
        </div>
        <div class="cell-xs-4">
            <div class="form-group">
                Turnover
                <input id="turnover" type="text" class="form-control" placeholder="Turnover" ng-model="$ctrl.client.turnover">
            </div>
        </div>
        <div class="cell-xs-4">
            <div class="form-group">
                Profit
                <input id="profit" type="text" class="form-control" placeholder="Profit" ng-model="$ctrl.client.profit">
            </div>
        </div>
        <div class="cell-xs-4">
            <div class="form-group">
                Loss
                <input id="loss" type="text" class="form-control" placeholder="Loss" ng-model="$ctrl.client.loss">
            </div>
        </div>
        <div class="cell-xs-4">
            <div class="form-group">
                Net Current Assets
                <input id="netcurrentassets" type="text" class="form-control" placeholder="Net Current Assets" ng-model="$ctrl.client.netcurrentassets">
            </div>
        </div>
        <div class="cell-xs-4">
            <div class="form-group">
                Shareholders Funds
                <input id="shareholdersfunds" type="text" class="form-control" placeholder="Share Holders Funds" ng-model="$ctrl.client.shareholdersfunds">
            </div>
        </div>
        <div class="cell-xs-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-xs"
                        ng-click="$ctrl.saveClient()">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
            </div>
        </div>
    </div>
</form>