<div class="shell">
    <div class="range">
        <div class="cell-xs-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-5">User</th>
                        <th class="col-md-5">Last seen</th>
                        <th class="col-md-1 text-center hidden-xs">Active</th>
                        <th class="col-md-1 text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in $ctrl.users">
                        <td>{{user.username}}</td>
                        <td>{{user.lastlogin | amDateFormat: 'DD/MMM/YYYY HH:mma'}}</td>
                        <td class="text-center hidden-xs">
                            <span class="glyphicon" ng-class="{'glyphicon-ok': (user.tries === 0), 'glyphicon-remove': (user.tries !== 0) }"></span>
                        </td>
                        <td class="text-center">
                            <span class="glyphicon glyphicon-pencil pointer-cursor"
                                  ng-click="$ctrl.addOrEditUser(user)">
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>                

        </div>
        <div class="col-md-12">
            <div class="text-right section-top-15">
                <button type="button" class="btn btn-xs btn-primary" ng-click="$ctrl.addOrEditUser(null)">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </div>
        </div>
    </div>
</div>
