<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$mctrl.closeModal()"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title">Order No: {{$mctrl.groupKey}}</h5>
</div>

<div class="modal-body">
    <div class="cell-md-12 cell-lg-12">
        <div class="range">
            <div class="cell-xs-12">
                <h5 class="my-underline">Order Items</h5>
                
                <table class="table table-condensed">
                    <tbody>
                        <tr ng-repeat="item in $mctrl.orderItems">
                            <td class="col-md-4">
                                <div><label><input type='checkbox' ng-disabled="!item.received" ng-model="item.dispatch"> {{item.name}}</label></div>
                                <div>
                                    <strong>Status:</strong>
                                    <span ng-if="item.creating">Creating</span>
                                    <span ng-if="item.received">Received</span>
                                    <span ng-if="item.dispatched">Dispatched</span>
                                    <span ng-if="item.cancelled">Cancelled</span>
                                    <span ng-if="item.sentforrefund">Sent For Refund</span>
                                    <span ng-if="item.refunded">Refunded</span>
                                    <span ng-if="item.returned">Returned</span>
                                    <span ng-if="item.refundfailed">Refund Failed</span>
                                </div>
                                <div class="cart-actions">
                                    <span ng-show="item.refunding" class="fa fa-spin fa-spinner"></span>
                                    <span ng-hide="item.refunding" class="glyphicon glyphicon-credit-card" title="Request Refund"
                                          ng-class="{'text-muted' : !item.isrefundable, 'text-info': item.isrefundable}"
                                          ng-click="$mctrl.requestItemRefund(item)"></span>
                                </div>
                            </td>
                            <td class="col-md-2">
                                <span ng-if="item.ispurchase">{{item.quantity}} &times; {{item.packagingunit}}</span>
                                <span ng-if="item.issample">{{item.quantity}} {{item.pricebaseunit}}</span>
                            </td>
                            <td class="col-md-2">&pound;{{item.itemprice}}</td>
                            <td class="cart-actions col-md-2">

                                <span ng-show="item.returning" class="fa fa-spin fa-spinner"></span>
                                <span ng-hide="item.returning" class="glyphicon glyphicon-repeat" title="Return Item"
                                      ng-class="{'text-muted' : !item.dispatched, 'text-info': item.dispatched}"
                                      ng-click="$mctrl.returnItem(item)"></span>

                                <span ng-show="item.cancelling" class="fa fa-spin fa-spinner"></span>
                                <span ng-hide="item.cancelling" class="glyphicon glyphicon-ban-circle" title="Cancel Item"
                                      ng-class="{'text-muted' : !item.received, 'text-danger': item.received}"
                                      ng-click="$mctrl.cancelItem(item)"></span>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td></td>
                            <td>Total</td>
                            <td>&pound;{{$mctrl.orderTotal}}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="offset-top-15">
                    <button type="button" class="btn btn-xs btn-primary" ng-click="$mctrl.dispatchItems()">Dispatch Selected</button>
                </div>
            </div>
        </div>
        
        <div class="offset-top-22">
            <div class="range">
                <div class="cell-xs-6">
                    <h5 class="my-underline">Delivery Address</h5>
                    {{$mctrl.addresses.deliveryaddress.firstname}} {{$mctrl.addresses.deliveryaddress.lastname}}<br/>
                    {{$mctrl.addresses.deliveryaddress.address1}} {{$mctrl.addresses.deliveryaddress.address2}}<br/>
                    {{$mctrl.addresses.deliveryaddress.city}} {{$mctrl.addresses.deliveryaddress.state}}<br/>
                    {{$mctrl.addresses.deliveryaddress.postcode}}<br/>
                    {{$mctrl.addresses.deliveryaddress.country}}
                </div>
                <div class="cell-xs-6">
                    <h5 class="my-underline">Billing Address</h5>
                    {{$mctrl.addresses.billingaddress.firstname}} {{$mctrl.addresses.billingaddress.lastname}}<br/>
                    {{$mctrl.addresses.billingaddress.address1}} {{$mctrl.addresses.billingaddress.address2}}<br/>
                    {{$mctrl.addresses.billingaddress.city}} {{$mctrl.addresses.billingaddress.state}}<br/>
                    {{$mctrl.addresses.billingaddress.postcode}}<br/>
                    {{$mctrl.addresses.billingaddress.country}}
                </div>
            </div>
        </div>
        
    </div>    
</div>

<div class="modal-footer">
    <div class="group-xl-responsive">
        <button type="button" class="btn btn-xs btn-default" ng-click="$mctrl.closeModal()">Close</button>
    </div>
</div>
