<div class="shell">
    <div class="range range-md-justify">
        <div class="cell-md-6 cell-lg-6 offset-top-22 offset-md-top-0">
            <form class="rd-mailform form-modern" name="orderForm" autocomplete="off" novalidate>
                <div class="range">
                    <div class="cell-xs-12">
                        <div class="form-group">
                            Please enter your Order Number
                            <input ng-model="$ctrl.groupKey" type="text" placeholder="Order Number" class="form-control" required>
                        </div>
                    </div>
                    <div class="cell-xs-12 offset-top-10">
                        <div class="form-group">
                            <button ng-click="$ctrl.confirmGroupKey()" class="btn btn-sm btn-primary-contrast">
                                Confirm
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <form ng-if="$ctrl.groupKeyOk" class="rd-mailform form-modern" name="confirmationForm" autocomplete="off" novalidate>
                <div class="range">
                    <div class="cell-xs-12">
                        <div class="form-group">
                            We have sent a code to {{$ctrl.maskedEmail}}, please enter it here (it expires in 5 minutes):
                            <input ng-model="$ctrl.confrimationCode" type="text" placeholder="Confirmation Code" class="form-control" required>
                        </div>
                    </div>
                    <div class="cell-xs-12 offset-top-10">
                        <div class="form-group">
                            <button ng-click="$ctrl.getOrder()" class="btn btn-sm btn-primary-contrast">
                                Retrieve Order
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
