<div class="shell">
    <div class="range" ng-if="$ctrl.cartItems.length === 0">
        <div class="cell-xs-12">
            <h3 class="my-underline">Your have no items to place an order</h3>
            <a href="/Index/buyorsample" class="btn btn-xl btn-red-orange">Buy or sample</a>
        </div>
    </div>
    
    <div class="range range-md-justify" ng-if="$ctrl.cartItems.length > 0">
        <div class="cell-md-6 cell-lg-6 offset-top-22 offset-md-top-0">
            <form class="rd-mailform form-modern" name="deliveryForm" autocomplete="on" novalidate>
                <div class="range">
                    <div class="cell-xs-12">
                        <h4 class="my-underline">Delivery Address</h4>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Firstname
                            <input ng-model="$ctrl.order.deliveryaddress.firstname" type="text" name="firstname" placeholder="Firstname" class="form-control" required>
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Lastname
                            <input ng-model="$ctrl.order.deliveryaddress.lastname" type="text" name="lastname" placeholder="Lastname" class="form-control" required>
                        </div>
                    </div>
                    <div class="cell-xs-12">
                        <div class="form-group">
                            Address Line 1
                            <input ng-model="$ctrl.order.deliveryaddress.address1" type="text" name="addressline1" placeholder="Address Line 1" class="form-control" required>
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Address Line 2
                            <input ng-model="$ctrl.order.deliveryaddress.address2" type="text" name="addressline2" placeholder="Address Line 2" class="form-control">
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Post Code
                            <input ng-model="$ctrl.order.deliveryaddress.postcode" type="text" name="postcode" placeholder="Post Code" class="form-control" required>
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            City
                            <input ng-model="$ctrl.order.deliveryaddress.city" type="text" name="city" placeholder="City" class="form-control" required>
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Country
                            <select ng-model="$ctrl.order.deliveryaddress.countrykey" class="form-control" name="country" required>
                                <option ng-repeat="x in $ctrl.countries" value="{{x.countrykey}}">{{x.name}}</option>
                            </select>                            
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Email
                            <input ng-model="$ctrl.order.deliveryaddress.email" type="email" name="email" placeholder="Email" class="form-control" required>
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Phone
                            <input ng-model="$ctrl.order.deliveryaddress.phone" type="text" name="phone" placeholder="Phone" class="form-control">
                        </div>
                    </div>
                    <div class="cell-xs-12">
                        <div class="form-group">
                            <label><input type="checkbox" ng-model="$ctrl.billingDifferent" /> &nbsp;<span>My Billing Address is different</span></label>
                        </div>
                    </div>
                </div>
            </form>
            <form class="rd-mailform form-modern offset-top-22" name="billingForm" ng-show="$ctrl.billingDifferent" autocomplete="on" novalidate>
                <div class="range">
                    <div class="cell-xs-12">
                        <h4 class="my-underline">Billing Address</h4>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Firstname
                            <input ng-model="$ctrl.order.billingaddress.firstname" type="text" placeholder="Firstname" class="form-control" required>
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Lastname
                            <input ng-model="$ctrl.order.billingaddress.lastname" type="text" placeholder="Lastname" class="form-control" required>
                        </div>
                    </div>
                    <div class="cell-xs-12">
                        <div class="form-group">
                            Address Line 1
                            <input ng-model="$ctrl.order.billingaddress.address1" type="text" placeholder="Address Line 1" class="form-control" required>
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Address Line 2
                            <input ng-model="$ctrl.order.billingaddress.address2" type="text" placeholder="Address Line 2" class="form-control">
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Post Code
                            <input ng-model="$ctrl.order.billingaddress.postcode" type="text" placeholder="Post Code" class="form-control" required>
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            City
                            <input ng-model="$ctrl.order.billingaddress.city" type="text" placeholder="City" class="form-control" required>
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Country
                            <select ng-model="$ctrl.order.billingaddress.countrykey" class="form-control" required>
                                <option ng-repeat="x in $ctrl.countries" value="{{x.countrykey}}">{{x.name}}</option>
                            </select>                            
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Email
                            <input ng-model="$ctrl.order.billingaddress.email" type="email" placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="cell-xs-6">
                        <div class="form-group">
                            Phone
                            <input ng-model="$ctrl.order.billingaddress.phone" type="text" placeholder="Phone" class="form-control">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="cell-md-6 cell-lg-6 offset-top-22 offset-md-top-0">
            <div class="range">
                <div class="cell-xs-12">
                    <h4 class="my-underline">Order Summary</h4>
                </div>
                <div class="cell-xs-12">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th  class="hidden-xs col-md-3">Type</th>
                                <th class="col-md-4">Name</th>
                                <th class="col-md-3">Qty</th>
                                <th class="col-md-2">Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in $ctrl.cartItems">
                                <th class="hidden-xs">
                                    <span ng-if="item.ispurchase">Purchase</span>
                                    <span ng-if="item.ispaidsample">Sample</span>
                                    <span ng-if="item.isfreesample">Sample (Free)</span>
                                </th>
                                <td>{{item.name}}</td>
                                <td>
                                    <span ng-if="item.ispurchase">{{item.quantity}} &times; {{item.packagingunit}}</span>
                                    <span ng-if="item.issample">{{item.quantity}} {{item.pricebaseunit}}</span>
                                </td>
                                <td>{{item.itemprice}}</td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td class="hidden-xs"></td>
                                <td></td>
                                <td>Shipping</td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td class="hidden-xs"></td>
                                <td></td>
                                <td>Total</td>
                                <td>&pound;{{$ctrl.cartTotal}}</td>
                            </tr>
                        </tfoot>
                    </table>
                    
                    <div class=" text-right offset-top-30">
                        <div class="cell-xs-12">
                            <button ng-click="$ctrl.proceed()"
                                    id="checkoutBtn" data-style="zoom-in" class="btn btn-sm btn-primary-contrast ladda-button">
                                <span class="ladda-label" ng-if="$ctrl.cartTotal > 0">Go to Payment</span>
                                <span class="ladda-label" ng-if="$ctrl.cartTotal == 0">Complete Order</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-md-12 cell-lg-12 offset-top-22 offset-md-top-0">
            <div class="offset-top-22 my-underline"></div>
        </div>
    </div>
</div>


            