<div class="shell">
    <div class="range">
        <div class="cell-xs-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-3">Name</th>
                        <th class="col-md-4">Description</th>
                        <th class="col-md-3">Contacts</th>
                        <th class="col-md-2 hidden-xs">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="enquiry in $ctrl.enquiries">
                        <td class="word-break">{{enquiry.name}}</td>
                        <td class="word-break">{{enquiry.description}}</td>
                        <td class="word-break">
                            <div>{{enquiry.email}}</div>
                            <div>{{enquiry.number}}</div>
                        </td>
                        <td class="hidden-xs">{{enquiry.createddate | amDateFormat: 'DD/MMM/YYYY'}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center section-sm-top-15 text-secondary">
                <span ng-if="$ctrl.loading" class="fa fa-spin fa-spinner fa-2x"></span>
                <span ng-if="(!$ctrl.loading && $ctrl.hasMore)" class="fa fa-arrow-circle-o-down fa-2x pointer-cursor" ng-click="$ctrl.fetch()"></span>
            </div>
        </div>
    </div>
</div>
