<div class="shell">
    <div class="range" ng-if="$ctrl.cartItems.length === 0">
        <div class="cell-xs-12">
            <h3 class="my-underline">Your have no items in your cart</h3>
            <a href="/Index/buyorsample" class="btn btn-xl btn-red-orange">Buy or sample</a>
        </div>
    </div>
    
    <div class="range" ng-if="$ctrl.cartItems.length > 0">
        <div class="cell-xs-12">
            <h3 class="my-underline" ng-if="$ctrl.cartItems.length === 1">
                You have one item in your cart
            </h3>
            <h3 class="my-underline" ng-if="$ctrl.cartItems.length > 1">
                You have {{$ctrl.cartItems.length}} items in your cart
            </h3>
        </div>
        <div class="cell-xs-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-2 hidden-xs">Type</th>
                        <th class="col-md-4">Name</th>
                        <th class="col-md-2">Qty</th>
                        <th class="col-md-2 hidden-xs hidden-sm">Cost</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.cartItems">
                        <th class="hidden-xs">
                            <span ng-if="item.ispurchase">Purchase</span>
                            <span ng-if="item.ispaidsample">Sample</span>
                            <span ng-if="item.isfreesample">Sample (Free)</span>
                        </th>
                        <td>{{item.name}}</td>
                        <td>
                            <span ng-if="item.ispurchase">{{item.quantity}} &times; {{item.packagingunit}}</span>
                            <span ng-if="item.issample">{{item.quantity}} {{item.pricebaseunit}}</span>
                        </td>
                        <td class="hidden-xs hidden-sm">
                            <span ng-if="item.ispurchase || item.ispaidsample">&pound;{{item.itemprice}}</span>
                            <span ng-if="item.isfreesample">&pound;0.00</span>
                        </td>
                        <td class="cart-actions">
                            <span class="glyphicon glyphicon-plus-sign"  ng-click="$ctrl.incrementItem(item)"></span>&nbsp;
                            <span class="glyphicon glyphicon-minus-sign"  ng-click="$ctrl.decrementItem(item)"></span>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-remove-circle" ng-click="$ctrl.deleteFromCart(item)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cell-sm-11 offset-top-22 text-right">
            <dl class="dl-inline">
                <dt>Total</dt>
                <dd>
                    <div class="pricing-object pricing-object-sm"><span class="small small-top">&pound;</span><span>{{$ctrl.cartTotal.substring(0, $ctrl.cartTotal.indexOf('.'))}}</span><span class="small small-bottom">{{$ctrl.cartTotal.substring($ctrl.cartTotal.indexOf('.'))}}</span></div>
                </dd>
            </dl>
        </div>
        <div class="cell-xs-12 offset-top-22 text-right"><a href="/Index/checkout" class="btn btn-xl btn-primary-contrast">Place order</a></div>
    </div>
</div>
