<div class="shell">
    <div class="range">
        <div class="cell-xs-12">
            <h3>{{$ctrl.cartItems.length}} {{$ctrl.cartItems.length == 1 ? 'Item' : 'Items'}} in your cart</h3>
        </div>
        <div class="cell-xs-12 offset-top-22">
      
            <div class="product product-cart-item" ng-repeat="cartItem in $ctrl.cartItems">
                <div class="product-main">
                    <div class="product-body">
                        <p class="product-brand">{{cartItem.region}}{{(coffee.region == null ? '' : ',')}} {{cartItem.country}}</p>
                        <h5>{{cartItem.name}} {{(cartItem.requesttypekey === 1 ? '(Sample Only)' : '')}}</h5>
                        <div class="product-rating" style='margin-top:0px'>
                            <ul class="list-rating">

                                <li ng-repeat="n in $ctrl.fullStars(cartItem)">
                                    <span class="icon icon-xxs material-icons-star"></span>
                                </li>
                                <li ng-if="$ctrl.halfStar(cartItem)">
                                    <span class="icon icon-xxs material-icons-star_half"></span>
                                </li>
                                <li ng-repeat="n in $ctrl.borderStars(cartItem)">
                                    <span class="icon icon-xxs material-icons-star_border"></span>
                                </li>
                            </ul><span class="text-light">{{cartItem.cuppingscore}} Cupping Score</span>
                        </div>
                    </div>
                </div>
                <div class="product-aside">
                    <div class="product-group">
                        <dl class="dl-inline">
                            <dt>Quantity</dt>
                            <dd ng-if="cartItem.requesttypekey == '1'"><span class="product-size">{{cartItem.quantity}} {{cartItem.pricebaseunit}}</span></dd>
                            <dd ng-if="cartItem.requesttypekey == '2'"><span class="product-size">{{cartItem.quantity}} x {{cartItem.packagingunit}}</span></dd>
                        </dl>
                        <div class="pricing-object pricing-object-sm">
                            <span class="small small-middle">{{cartItem.currency}}</span><span class="price">{{cartItem.itemprice.substring(0, cartItem.itemprice.indexOf('.'))}}</span><span class="small small-bottom">{{cartItem.itemprice.substring(cartItem.itemprice.indexOf('.'))}}</span>
                        </div>
                    </div>
                    <div class="product-control"><a ng-click="$ctrl.deleteFromCart(cartItem)" class="icon icon-sm link-gray-light material-icons-cancel"></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="range offset-top-30 text-right">
        <div class="cell-sm-11">
            <dl class="dl-inline">
                <dt>Total</dt>
                <dd>
                    <div class="pricing-object pricing-object-sm"><span class="small small-top">&pound;</span><span>{{$ctrl.cartTotal.substring(0, $ctrl.cartTotal.indexOf('.'))}}</span><span class="small small-bottom">{{$ctrl.cartTotal.substring($ctrl.cartTotal.indexOf('.'))}}</span></div>
                </dd>
            </dl>
        </div>
        <div class="cell-xs-12 offset-top-30"><a href="shop-checkout.html" class="btn btn-xl btn-red-orange">proceed to checkout</a></div>
    </div>
</div>
