<div class="shell">
    <div class="range">
        <div class="cell-xs-12">
            <h3>{{$ctrl.cartItems.length}} {{$ctrl.cartItems.length == 1 ? 'Item' : 'Items'}} in your cart</h3>
        </div>
        <div class="cell-xs-12 offset-top-40">
      
            <div class="product product-cart-item" ng-repeat="coffee in $ctrl.cartItems">
                <div class="product-main">
                    <div class="product-body">
                        <p class="product-brand">{{coffee.region}}{{(coffee.region == null ? '' : ',')}} {{coffee.country}}</p>
                        <h5>{{coffee.name}}</h5>
                        <div class="product-rating" style='margin-top:0px'>
                            <ul class="list-rating">

                                <li ng-repeat="n in $ctrl.fullStars(coffee)">
                                    <span class="icon icon-xxs material-icons-star"></span>
                                </li>
                                <li ng-if="$ctrl.halfStar(coffee)">
                                    <span class="icon icon-xxs material-icons-star_half"></span>
                                </li>
                                <li ng-repeat="n in $ctrl.borderStars(coffee)">
                                    <span class="icon icon-xxs material-icons-star_border"></span>
                                </li>
                            </ul><span class="text-light">{{coffee.cuppingscore}} Cupping Score</span>
                        </div>
                    </div>
                </div>
                <div class="product-aside">
                    <div class="product-group">
                        <dl class="dl-inline">
                            <dt>Color</dt>
                            <dd><span style="background-color:#1b3164;" class="product-color"></span></dd>
                        </dl>
                        <dl class="dl-inline">
                            <dt>Size</dt>
                            <dd><span class="product-size">XXL</span></dd>
                        </dl>
                        <div class="stepper-wrap">
                            <div class="stepper "><input type="number" data-zeros="true" value="1" min="1" max="20" class="stepper-input"><span class="stepper-arrow up"></span><span class="stepper-arrow down"></span></div>
                        </div>
                        <div class="pricing-object pricing-object-sm"><span class="small small-middle">$</span><span class="price">19</span><span class="small small-bottom">.89</span></div>
                    </div>
                    <div class="product-control"><a href="#" class="icon icon-sm link-gray-light material-icons-cancel"></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="range offset-top-30 text-right">
        <div class="cell-sm-11">
            <dl class="dl-inline">
                <dt>Total</dt>
                <dd>
                    <div class="pricing-object pricing-object-sm"><span class="small small-top">$</span><span>164</span><span class="small small-bottom">.89</span></div>
                </dd>
            </dl>
        </div>
        <div class="cell-xs-12 offset-top-30"><a href="shop-checkout.html" class="btn btn-xl btn-red-orange">proceed to checkout</a></div>
    </div>
</div>
